  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .skill-container{
    background-color: cadetblue;
    height: 500px;
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
  }
  .skill-container ul{
    list-style-type: none;
    padding: 15px;
  }
  .skill-container li{
    padding:15px;
    margin: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    text-transform: uppercase;

    position: relative;
  }

  .skill-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0 ;

    background-color: rgb(115, 119, 123);
    width: 100%;
    height: 25px;
    border-radius: 1000px;
  }
   .skill-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0 ;
    background-color: rgb(255, 255, 255);
    width: 0;
    height: 25px;
    border-radius: 1000px;


    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: .2s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
  }

  .html{
    animation-name: html;
  }
.skill-container li.html::after{
    animation-name: html;    
    }
@keyframes html {
    to{
        background-color: red;
        width: 90%;
    }
}
.skill-container li.css::after{
    animation-name: css;    
    }
@keyframes css {
    to{
        background-color: rgb(89, 0, 255);
        width: 80%;
    }
}
.skill-container li.js::after{
    animation-name: js;    
    }
@keyframes js {
    to{
        background-color: rgb(153, 9, 110)(255, 0, 179)(255, 0, 238);
        width: 70%;
    }
}
.skill-container li.tw::after{
    animation-name: tw; 
    }
@keyframes tw{
    to{
        background-color: rgb(36, 166, 3);
        width: 90%;
    }
}
.skill-container li.rj::after{
    animation-name: rj;    
    }
@keyframes rj {
    to{
        background-color: rgb(242, 255, 0);
        width: 70%;
    }
}
.skill-container li.nj::after{
    animation-name: nj;    
    }
@keyframes nj {
    to{
        background-color: rgb(215, 118, 7);
        width: 90%;
    }
}
