  .grid-container{
   display: grid;
   grid-template-areas:  
   'header header header header header header'
   'nav  main main main main aside '
   'nav footer footer footer footer aside'
   ;
  }
  .grid-container >div{
    background-color: gray;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-family: cursive;
  }
  .item1{grid-area: header;}
  .item2{grid-area: nav; display: grid; place-items: center;} 
  .item3{grid-area: main;}
  .item4{grid-area: aside; display: grid; place-items: center;}
  .item5{grid-area: footer;}
  
  
  
  
  
  /* .grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .grid-container > div{
    background-color: rgb(137, 131, 127);
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 1.3rem;
  }
  .item1{
    grid-column: 1 / 7;
  }
  .item2{
    grid-column: 1/2 ;
    grid-row: 2/4;
    display: grid;
    place-items: center;
  }
  .item3{
   grid-column: 2/6;
  }
  .item4{
   grid-column: 6/7;
   grid-row: 2/4;
   display: grid;
   place-items: center;
  }
  .item5{
    grid-column: 2/6;
  }