 h1{
    text-shadow: 5px 2px red; /* prothom ta horizental 2nd ta vertical */
 }
 .shadow{
  background-color: rgb(222, 16, 126);
  height: 200px;
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bolder;
  font-style: italic;
  text-align: justify;
  box-shadow: 1px 4px 3px 1px black; /* protom ta horizental 2nd ta vertical */
  margin: 0 auto;
 }
 .shadow:hover{
    box-shadow: 2px 6px 4px 2px rgb(126, 107, 107);
    transition: .2s;
    transform: scale(1.1);
 }