  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(44, 188, 145);
  }
  body{
    background-image: url(bg-img.avif);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% 100%
  }
  