  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: url(bg-img.avif);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100%;
  }
  