   body{
  
   }

   /* desktop */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
 

    .nav-logo{
      text-align: left;
    }
    .nav-title h1{
      text-align: right;
      font-family: cursive;
    }
    .nav-menu{
      flex-direction: row;
      justify-content: flex-end;
    }
    .nav-menu a{
      color: rgb(254, 244, 244);
      padding: 5px 10px;
      margin: 15px 0;
      background-color: transparent;
    }
    .nav-menu a:hover{
      background-color: transparent;
      border-bottom: 2px solid black;
      text-shadow: 2px 3px 3px black;
    } /* navbar end */



    /* profile desgin desktop */
    .profile-desc p{
      width: 50%;
      margin: 0 auto;
      text-align: justify;
    } /* profile end */



    /*about start */
     .aboutme-img img{
      height: 230px;
      width: 230px;
      margin-top: 100px;
     }
     .aboutme-desc p{
      text-align: left;
     }
    /*about end */


    /* achievment */
    .achievment {
      padding-right: 50px;
    }
    .contact {
      
    }

    .contact-link{
      position: relative;
    }
    .contact-link h2{
      color: white;
    }
    .media-button{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 140px;
    }


    /* footer */
    .footer-menu{
      margin-top: 12px;
    }
    .footer-menu a{
      display: inline;
      margin: 10px;
      font-size: 0.8rem;
    }

    


