 .grid-container{
    padding: 10px;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 100px auto auto auto; 
   /* grid-template-rows: 100px; */
   /* grid-column-gap: 10px; */
   /* grid-row-gap: 10px; */
   /* grid-gap: 20px 10px; */
   /* justify-content: start; */
    /*justify-content: end; */
   /* justify-content: center;
    align-content: start; */
    align-content: center;
    justify-content: start;
 }
 .grid-container > div{
    background-color: chocolate;
    border: 1px solid;
    text-align: center;
    padding: 10px;
 }
 .item1{
   /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/ span 3;
   /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1 / span 3;
}