*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    background-color: darkblue;
    width: 100px;
    padding: 5px;
    color: wheat;
    margin-top: 10px;
}
.hi{

    color: red;
    background-color: saddlebrown;
    text-align: center;
    padding: 15px;
    height: 50px;
    font-weight: bold;
    font-family: cursive;
    width: 150px;
    margin: auto;
    margin-top: 20px;

    transition: width 2s;
}
.hello{
    color: darkblue;
    text-align: justify;
    background-color: lightblue;
}
#hey{
    background-color: rgb(132, 118, 105);
    color: darkblue;
    height: 50px;
    padding: 15px;
    width: 150px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    font-size: 20px;

    transition: width 2s;
}

#how{
    background-color: rgb(150, 213, 213);
    color: rgb(225, 112, 20);
}




.hi:hover{
    width: 180px;
    background-color: thistle;
    border-radius: 5px;
}
#hey:hover{
    width: 180px;
    background-color: thistle;
    border-radius: 5px;
}