 .nav-menu{
    height: 50px;
    width: 500px;
    margin: 0 auto;
   background-color: indigo;
 }
 .nav-menu ul{
   list-style-type: none;
 }
 .nav-menu li{
  float: left;
  padding: 15px;
 }
 .nav-menu li a{
  text-decoration: none;
  font-weight: bold;
  font-family: cursive;
  color: black;
  cursor: pointer;
 }
 .nav-menu li a:hover{
    text-decoration: underline;
    color: wheat;
 }
